@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

:root {
    --color-fondo: #031926;
    --color-base: #f7f9f7;
    --color-btn: #19a5f8;
    --color-txt: #e8e8e8;
    --radius: .4rem;
}

* {
    font-family: "Montserrat", serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-fondo);
    display: flex;
    justify-content: center;
}

.github-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: transform .2s ease;
}

.github-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}

main {
    width: 480px;
    margin-top: 100px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.container-resultado {
    margin-top: 30px;
}

.container-buscador,
.container-resultado {
    position: relative;
    width: 100%;
    background-color: var(--color-base);
    border-radius: var(--radius);
    padding: 45px 45px 15px 45px;
}

.container-buscador>* {
    margin-bottom: 10px;
}

.pokeapi-icon {
    position: absolute;
    top: -70px;
    left: 150px;
    transition: transform .2s ease-in-out;
}

.pokeapi-icon:hover {
    transform: scale(1.1);
}

p {
    font-size: small;
}

.form-buscador {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 110px;
}

input,
select {
    margin-top: 5px;
}

.input-container>div>label {
    font-weight: bold;
}

.txt-buscador,
select {
    border: none;
    background-color: var(--color-txt);
    width: 100%;
    height: 30px;
    padding: 0 7px;
    border-radius: var(--radius);
}

.txt-buscador:hover,
select:hover {
    border-bottom: 2px solid var(--color-btn);
}

select:focus {
    outline: none;
}

.txt-buscador:focus {
    outline: none;
}

.form-buscador>div {
    display: flex;
    gap: 25px;
}

/*contenedor botones*/
.form-buscador div:last-of-type {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn-buscar,
.btn-limpiar {
    border: none;
    background-color: var(--color-btn);
    color: white;
    font-weight: bold;
    padding: 7px 25px;
    width: 100px;
    margin-top: 10px;
    border-radius: var(--radius);
    transition: transform .2s ease;
}

.btn-buscar:hover,
.btn-limpiar:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.btn-limpiar {
    visibility: hidden;
}

.pokemon-card>* {
    margin-bottom: 20px;
}

h2 {
    font-weight: 900;
}

h5 {
    margin-bottom: 6px;
}

.pokemon-card__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;

}

.pokemon-card__content>div {
    width: 150px;
}

.pokemon-card__content>div:first-child img {
    width: 50px;
    position: relative;
    right: 5px;
    bottom: 5px;
}

.pokemon-card__content>div:first-child img:last-of-type {
    left: -10px;
}

.container-resultado {
    visibility: hidden;
}

li {
    font-size: small;
    margin-left: 15px;
}